/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainview {
  height: 100vh !important;
}

.sketcherview {
  /* if this gets to high the page gets a scrollbar
     not the best solution, but for now it works */
  height: 87vh !important;
}

/* Apply a margin to all primary buttons */
.primary-button {
  margin: 10px;
  background-color: blue;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.red-text {
  color: red;
}

.white-text {
  color: white;
}

.selected-row {
  background-color: yellow;
}
