@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainview {
  height: 100vh !important;
}

.sketcherview {
  /* if this gets to high the page gets a scrollbar
     not the best solution, but for now it works */
  height: 87vh !important;
}

/* Apply a margin to all primary buttons */
.primary-button {
  margin: 10px;
  background-color: blue;
}
