@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: slategray;
}

.mainview {
  height: 100vh !important;
}

.sketcherview {
  height: 100vh !important;
}

/* Apply a margin to all primary buttons */
.primary-button {
  margin: 10px;
  background-color: blue;
}
